:root {
  --bg-main: #f8fafc;
  --card-bg: #ffffff;
  --card-border: #cbd5e1;

  --text-main: #0f172a;
  --text-muted: #64748b;

  --accent: #2563eb;
  --accent-soft: #eff6ff;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

.card {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 16px;
  padding: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  transition: all .2s ease;
}

.card:hover {
  border-color: var(--accent);
}

.card.selected {
  background: var(--accent);
  color: white;
  border-color: var(--accent);
}

.input-box {
  width: 100%;
  background: white;
  padding: 14px;
  border-radius: 12px;
  margin-bottom: 14px;
  color: var(--text-main);
  border: 1px solid var(--card-border);
}

.input-box::placeholder {
  color: var(--text-muted);
}

.btn-main {
  width: 100%;
  background: var(--accent);
  color: white;
  padding: 16px;
  border-radius: 16px;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  border: none;
}

.photo-box {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 2px dashed var(--accent);
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--accent);
  background: var(--accent-soft);
}

.text-gray-500 {
  color: var(--text-muted) !important;
}